@font-face {
    font-family: Montserrat Alternates;
    src: url("fonts/MontserratAlternates-SemiBold.ttf");
}
@font-face {
    font-family: Montserrat;
    src: url("fonts/Montserrat-Light.ttf");
}

*{
    margin: 0;
    padding: 0;
}
.container { 
    width: 80%;
    margin: 0 auto;
}
body {
    height: 100vh;
    background: linear-gradient(180deg, #3D00AA 0%, #0E0027 100%);
    background-size: cover;
    background-repeat: no-repeat;
    color: white;
    font-family: Montserrat Alternates;
    text-transform: uppercase;
}
.LogoAndQR{
    width: 100%;
    margin: 0 auto;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-top: 250px;
}
.LogoAndQR p{
    font-size: calc(10px + 26 * (100vw / 1920));
    text-align: center;
    margin-bottom: 30px;
    font-weight: 600;
}
.logoFlux{
    width: 33.66%;
    height: auto;
    display: flex;
    align-items: center;
}

.qrvk, .qrdiscord { 
    width: 19.4%;
    height: auto;
}
.qrvkimage{
    width: 100%;
    height: auto;
}
.qrdiscordimage{
    width: 100%;
    height: auto;
}
.Fluxsovet{
    font-family: Montserrat;
    text-align: center;
    margin-top: 150px;
    font-size: 24px;
    font-size: calc(10px + 14 * (100vw / 1920));
    opacity: 0.5;
}

/* Для анимаций советов */

#text {
    transition: opacity 0.5s;
}
.fade-out {
    opacity: 0;
}

/* Для загрузки */
.loading{
    display: flex;
    justify-content: center;
    margin-top: 30px;
}
.cube {
    width: 20px;
    height: 20px;
    background-color: #fff;
    opacity: 0.5;
    margin: 5px;
    display: inline-block;
    animation: spin 2s infinite linear;
}
@keyframes spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
}